<h1 class="md-display-2" align="center">About Page Stuff Here</h1>
<div style="width: 80%">
	<div class="layout-row">
		{{#paper-item class="md-3-line md-long-text"}}
      <div class="md-list-item-text">
        <h3>General Instructions</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
    {{/paper-item}}
	</div>
	<div class="layout-row">
		{{#paper-item class="md-3-line md-long-text"}}
      <div class="md-list-item-text">
        <h3>Talk about the commands user has to enter</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
    {{/paper-item}}
	</div>
	<div class="layout-row">
		{{#paper-item class="md-3-line md-long-text"}}
      <div class="md-list-item-text">
        <h3>(To be added later?) Talk about the value of the project and the different uses and technical solutions.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
    {{/paper-item}}
	</div>
	<div class="layout-row">
		{{#paper-item class="md-3-line md-long-text"}}
      <div class="md-list-item-text">
        <h3>The Frameworks</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
    {{/paper-item}}
	</div>
	<div class="layout-row">
		{{#paper-item class="md-3-line md-long-text"}}
      <div class="md-list-item-text">
        <h3>FAQ</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
    {{/paper-item}}
	</div>
</div>
{{outlet}}